<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clock</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/styles/style-home.css">
</head>
<body>

{{> header}}

<section class="banner">
    <div class="info-wrap">
        <h1>
            FIND THE PERFECT GIFT<br>
            FOR HIM OR HER
        </h1>

        <button class="shop-now">shop now</button>
    </div>
</section>

<section id="clocks" class="container">
    <h4 class="header">Header</h4>

    <div class="multiple-items">
        {{#each clocks}}
            <div class="clock">
                <a href="/clock-view/{{@index}}">
                    <img src="{{this.images.[0]}}" class="clock-icon">
                </a>

                <div class="clock-info">
                    <span class="clock-title">
                        {{this.name}}
                    </span>
                    <div class="clock-prices">
                        <!--<span class="sale">196$</span>-->
                        <!--<span class="new-price">150$</span>-->
                        <span>{{this.price}} $</span>

                        <button class="clock-buy btn-floating waves-effect waves-gray right" data-clock-id="{{@index}}">
                            <i  class="material-icons small">add_shopping_cart</i>
                        </button>
                    </div>
                </div>
            </div>
        {{/each}}

        <!--<div class="card">-->
        <!--<div class="card-image waves-effect waves-block waves-light">-->
        <!--<img class="activator"-->
        <!--src="https://www.wellymerck.com/Public/Upload/productscolors/20170711/59643426abd91.jpg">-->
        <!--</div>-->
        <!--<div class="card-content clock-price">-->
        <!--<span class="card-title activator clock-title">Clock Name<i-->
        <!--class="material-icons small right">add_shopping_cart</i></span>-->
        <!--<p>-->
        <!--<span class="sale">196$</span>-->
        <!--<span class="new-price">150$</span>-->
        <!--<span></span>-->
        <!--</p>-->
        <!--</div>-->
        <!--<div class="card-reveal">-->
        <!--<span class="card-title ">Card Title<i-->
        <!--class="material-icons right">close</i></span>-->
        <!--<p>Here is some more information about this product that is only revealed once clicked on.</p>-->
        <!--</div>-->
        <!--</div>-->
    </div>

    <div class="controls">
        <span id="prev-clock" class="arrow prev">
            <i class="material-icons right">keyboard_arrow_left</i>
        </span>

        <span id="next-clock" class="arrow next">
            <i class="material-icons right">keyboard_arrow_right</i>
        </span>
    </div>
</section>

<section id="features">
    <h4 class="header">Our Features</h4>

    <div class="container">
        <div class="row">
            <div class="col l4">
                <div class="feature">
                    <!--<i class="large material-icons">airplanemode_active</i>-->
                    <img src="/images/plane_icon.png" alt="">
                    <span class="title">FREE SHIPPING</span>
                </div>
            </div>
            <div class="col l4">
                <div class="feature">
                    <!--<i class="large material-icons">card_travel</i>-->
                    <img src="/images/box_icon.png" alt="">
                    <span class="title">FREE RETURNS</span>
                </div>
            </div>
            <div class="col l4">
                <div class="feature">
                    <!--<i class="large material-icons">card_membership</i>-->
                    <img src="/images/belt_icon.png" alt="">
                    <span class="title">THREE YEAR WARRANTY</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="photos" class="container">

    <h4 class="header">THE WELLY MERCK WORLD</h4>

    <div class="row">
        <div class="col l4">
            <div class="photo" data-clock-id="0"><img
                    src="https://cdn.cultofmac.com/wp-content/uploads/2016/09/AppleWatch-780x521-780x521.jpg" alt="">
            </div>
        </div>
        <div class="col l4">
            <div class="photo" data-clock-id="1"><img
                    src="https://cdn.cultofmac.com/wp-content/uploads/2016/09/AppleWatch-780x521-780x521.jpg" alt="">
            </div>
        </div>
        <div class="col l4">
            <div class="photo" data-clock-id="2"><img
                    src="https://cdn.cultofmac.com/wp-content/uploads/2016/09/AppleWatch-780x521-780x521.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col l4">
            <div class="photo" data-clock-id="3"><img
                    src="https://cdn.cultofmac.com/wp-content/uploads/2016/09/AppleWatch-780x521-780x521.jpg" alt="">
            </div>
        </div>
        <div class="col l4">
            <div class="photo" data-clock-id="4"><img
                    src="https://cdn.cultofmac.com/wp-content/uploads/2016/09/AppleWatch-780x521-780x521.jpg" alt="">
            </div>
        </div>
        <div class="col l4">
            <div class="photo" data-clock-id="5"><img
                    src="https://cdn.cultofmac.com/wp-content/uploads/2016/09/AppleWatch-780x521-780x521.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<section id="press">
    <h4 class="header">See What The Press Is Saying About WellyMerck</h4>

    <div class="container">
        <div class="p-wrap">
            <div class="comment">
                <p>Welly Merck is an affordable luxury watch brand from Switzerland. Every watch accentuates
                    individuality with interchangeable straps, sapphire crystal glass, and personalized touches.</p>

                <img src="/images/p1.png"/>
            </div>

            <div class="comment">
                <p>Welly Merck is an affordable luxury watch brand from Switzerland. Every watch accentuates
                    individuality with interchangeable straps, sapphire crystal glass, and personalized touches.</p>

                <img src="/images/p2.png"/>
            </div>

            <div class="comment">
                <p>Welly Merck creates an exciting way to make affordable and fashionable watches that put luxury in the
                    hands of anyone.</p>

                <img src="/images/p3.png"/>
            </div>
            <div class="comment">
                <p>It is a watch company which combines design, manufacturing and sales together to streamline
                    production and provide low-cost luxury watches.</p>

                <img src="/images/p4.png"/>
            </div>
            <div class="comment">
                <p>They have chosen to memorialize their unwavering love with their own remarkable brand of
                    timepieces.</p>

                <img src="/images/p5.jpg"/>
            </div>
        </div>

        <div class="controls">
        <span id="prev-press" class="arrow prev">
            <i class="material-icons right">keyboard_arrow_left</i>
        </span>

            <span id="next-press" class="arrow next">
            <i class="material-icons right">keyboard_arrow_right</i>
        </span>
        </div>
    </div>

</section>

{{> footer}}

<div id="clock-photo" class="modal">
    <div class="modal-content">
        <img id="clock-photo-icon" src=""/>

        <div id="clock-photo-info" class="clock-info"></div>
    </div>
</div>

<script defer
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script defer type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>

<script defer src="/js/app-home.js"></script>
</body>
</html>