<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clock</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/styles/style-home.css">
</head>
<body>

{{> header}}

<section class="banner">
    <div class="info-wrap">
        <h1>
            FIND THE PERFECT GIFT<br>
            FOR HIM OR HER
        </h1>

        <a href="#clocks" class="shop-now">shop now</a>
    </div>
</section>

<section id="clocks">
    <h4 class="header">Header</h4>

    <div class="multiple-items">
        {{#each clocks}}
            <div class="clock">
                <a href="/clock-view/{{@index}}">
                    <img src="{{this.images.[0]}}" class="clock-icon">
                </a>

                <div class="clock-info">
                    <p class="clock-title center">
                        {{this.name}}
                    </p>
                    <div class="clock-prices">
                        <!--<span class="sale">196$</span>-->
                        <!--<span class="new-price">150$</span>-->
                        <span>{{this.price}} $</span>

                        <button class="clock-buy btn-floating waves-effect waves-gray right" href="/clock-view/{{@index}}" data-clock-id="{{@index}}">
                            <i class="material-icons small">add_shopping_cart</i>
                        </button>
                    </div>
                </div>
            </div>
        {{/each}}

    </div>

    <div class="controls">
        <span id="prev-clock" class="arrow prev">
            <i class="material-icons right">keyboard_arrow_left</i>
        </span>

        <span id="next-clock" class="arrow next">
            <i class="material-icons right">keyboard_arrow_right</i>
        </span>
    </div>
</section>

{{> features}}

<section id="photos" class="container">

    <h4 class="header">THE WELLY MERCK WORLD</h4>

    <div class="row">
        <div class="col l4 s12">
            <div class="photo" data-clock-id="0">
                <img src="https://www.wellymerck.com/Public/Upload/indexworld/20170802/5981b8683e318.jpg" alt="">
            </div>
        </div>
        <div class="col l4 s12">
            <div class="photo" data-clock-id="1">
                <img src="https://www.wellymerck.com/Public/Upload/indexworld/20170802/5981b8683e318.jpg" alt="">
            </div>
        </div>
        <div class="col l4 s12">
            <div class="photo" data-clock-id="2"><img
                    src="https://www.wellymerck.com/Public/Upload/indexworld/20170802/5981b8683e318.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col l4 s12">
            <div class="photo" data-clock-id="3"><img
                    src="https://www.wellymerck.com/Public/Upload/indexworld/20170802/5981b8683e318.jpg" alt="">
            </div>
        </div>
        <div class="col l4 s12">
            <div class="photo" data-clock-id="4"><img
                    src="https://www.wellymerck.com/Public/Upload/indexworld/20170802/5981b8683e318.jpg" alt="">
            </div>
        </div>
        <div class="col l4 s12">
            <div class="photo" data-clock-id="5"><img
                    src="https://www.wellymerck.com/Public/Upload/indexworld/20170802/5981b8683e318.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<section id="press" class="hide-on-med-and-down">
    <h4 class="header">See What The Press Is Saying About WellyMerck</h4>

    <div class="container">
        <div class="p-wrap">
            <div class="comment">
                <p>Welly Merck is an affordable luxury watch brand from Switzerland. Every watch accentuates
                    individuality with interchangeable straps, sapphire crystal glass, and personalized touches.</p>

                <img src="/images/p1.png"/>
            </div>

            <div class="comment">
                <p>Welly Merck is an affordable luxury watch brand from Switzerland. Every watch accentuates
                    individuality with interchangeable straps, sapphire crystal glass, and personalized touches.</p>

                <img src="/images/p2.png"/>
            </div>

            <div class="comment">
                <p>Welly Merck creates an exciting way to make affordable and fashionable watches that put luxury in the
                    hands of anyone.</p>

                <img src="/images/p3.png"/>
            </div>
            <div class="comment">
                <p>It is a watch company which combines design, manufacturing and sales together to streamline
                    production and provide low-cost luxury watches.</p>

                <img src="/images/p4.png"/>
            </div>
            <div class="comment">
                <p>They have chosen to memorialize their unwavering love with their own remarkable brand of
                    timepieces.</p>

                <img src="/images/p5.jpg"/>
            </div>
        </div>

        <div class="controls">
        <span id="prev-press" class="arrow prev">
            <i class="material-icons right">keyboard_arrow_left</i>
        </span>

            <span id="next-press" class="arrow next">
            <i class="material-icons right">keyboard_arrow_right</i>
        </span>
        </div>
    </div>

</section>

{{> footer}}

<div id="clock-photo" class="modal">
    <div class="modal-content">
        <img id="clock-photo-icon" src=""/>

        <div id="modal-content-left" class="modal-content-left">
            <div class="instagram">
                <img src="https://www.wellymerck.com/Public/Upload/indexworld/20170802/5981b86da8efe.jpg"
                     class="instagram-photo">
                <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                <a href="https://www.instagram.com/">@_name</a>
            </div>

            <h4>RELATED PRODUCTS</h4>

            <div id="clock-photo-info" class="clock-info"></div>
        </div>
    </div>

    <button id="clock-photo-close" class="">
        <i class="material-icons small">close</i>
    </button>
</div>

<div id="buy-form" class="modal">
    <div class="modal-content">
        <iframe src="/buy-form" frameborder="0" scrolling="no"></iframe>
    </div>

    <button id="buy-form-close" class="">
        <i class="material-icons small">close</i>
    </button>
</div>

<script defer
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script defer type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
<script defer src="/js/cookie.js"></script>
<script defer src="/js/app-home.js"></script>
</body>
</html>
